body {
  background-color: #adadf1;
}

.centro{
  padding: 10px;
}
.footer{
    position:absolute;
    bottom:0;
    width:100%;
}

.gridrodape {
  display: grid;
  grid-template-columns: repeat(3, 1fr), grid-template-rows repeat(2, 1fr);
  background-color: black;
}

.rodapef {
  grid-row-start: 10;
  grid-row-end: 12;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: center;
  padding-top: 5px;
  color: rgb(0, 255, 255);
}
